body {
	font-family: Arial, sans-serif;
	background-color: #111;
	color: #fff;
}

#title a:link, #title a:visited {
	color: #fff;
}

#toolbar .button {
	background-color: #414c66;
	border: 1px solid #fff;
	color: #fff;
}

#toolbar .button:hover {
	background-color: #7185b3;
}

#canvasWrapper {
	border: 1px solid #fff;
	background-color: #414c66;
	z-index: -1;
}

#canvas .menu a {
	color: #fff;
}

#canvas .node {
	border: 1px solid #fff;
	background: #111;
}

#canvas .node .text {
	color: #fff;
}
