body {
	margin: 0;
	padding: 0;
}

a:link, a:visited {
	text-decoration: none
}

a:active, a:hover {
	text-decoration: underline;
}

h1 {
	display: inline-block;
	margin: 0.25em 0.5em 0 0.5em;
}

#toolbar {
	display: inline-block;
	margin: 0 0 0 0.5em;
	vertical-align: bottom;
}

#toolbar .button {
	min-width: 3em;
	min-height: 3em;
}

#canvas {
	position: fixed;
	left: 0.5em;
	top: 3em;
	right: 0.5em;
	bottom: 0.5em;
}

#canvas .menu {
	margin: 1em;
	text-align: center;
}

#canvas .node {
	position: absolute;
	display: block;
	width: 3em;
	height: 2em;
}

#canvas .node .text {
	text-align: center;
	padding: 0;
	margin: 0;
}
