body {
	margin: 0;
	padding: 0;
}

a:link, a:visited {
	text-decoration: none
}

a:active, a:hover {
	text-decoration: underline;
}

#title {
	display: inline-block;
	margin: 0.25em 0.5em 0 0.5em;
	vertical-align: middle;
}

#toolbar {
	display: inline-block;
	margin: 0.25em 0.5em 0.25em 0.5em;
	vertical-align: middle;
}

#toolbar .button {
	min-width: 4em;
	min-height: 3em;
}

#canvas, #canvasWrapper {
	position: fixed;
	left: 0.5em;
	top: 3em;
	right: 0.5em;
	bottom: 0.5em;
	margin: 0; /* Must be zero or brakes JQuery position() */
	padding: 0; /* Must be zero or brakes JQuery position() */
}

#canvas .menu {
	margin: 1em;
	text-align: center;
}

#canvas .node {
	position: absolute;
	display: block;
	width: 4em;
	height: 2em;
}

#canvas .node .text {
	text-align: center;
	padding: 0;
	margin: 0;
}

#canvas .node .status {
	text-align: center;
	font-size: 70%;
	padding: 0;
	margin: 0;
}
